<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Patrick Quan</title>
  <link rel="icon" type="image/png" href="/uploads/favicon.png">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
</head>
<body>
  <nav>
    <img src="/uploads/menuBlack.svg" alt="menu" class="menuIcon">
    <img src="/uploads/closeWhite.svg" alt="menu" class="closeIcon navHidden">
    <div class="nav navHidden">
      <div class="navContainer">
        <ul class="navLinks navLinksHidden">
          <li class="navLink"><a href="/about">About</a></li>
          <li class="navLink"><a href="/portfolio">Photography</a></li>
          <li class="navLink"><a href="/programming">Programming</a></li>
          <li class="navLink"><a href="/blog">Blog</a></li>
        </ul>
        <ul class="navLinks">
          <li class="navLinkSecondary"><a href="/about/contact">Contact</a></li>
          <li class="navLinkSecondary"><a href="https://instagram.com/ptrckqn" target="_blank">Instagram</a></li>
          <li class="navLinkSecondary"><a href="https://github.com/ptrckqn" target="_blank">Github</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <h1>
      <a href="/"><img src="/uploads/fullLogoBlack.png" alt="Patrick Quan" class="fullLogo"></a>
    </h1>
  </header>
