<% include partials/header %>
  <div class="container">
    <h2 class="pageTitle">About Me</h2>
  </div>
  <div class="container">
    <h2><img src="/uploads/portrait.png" alt="" class="aboutPic"></h2>
    <div class="aboutContent">
      <p>Hey, I'm Patrick</p>

      <p>I’m currently enrolled in my last year of my Bachelors of Science at the University of Calgary, majoring in Geology and minoring in Computer Science.</p>

      <p>I’m currently taking courses in data base management systems, graphic design, assembly, as well as full stack web development, which utilizes HTML, CSS, JavaScript, and Node.js. My current ongoing client project has been developing cafe16yyc.com, which implements HTML, CSS, and Javascript to provide a more efficient user experience. I have also developed the webiste KnoGeo.com for the newly rebranded company KnoGeo. The main emphasis of the website was to provide an immediate and unique experience which would entice the viewers; which is available through the 'Enterprise' tab of the website.</p>

      <p>Outside of my academic life, I take on a variety of hobbies, such as basketball, photography and sneaker collecting. I currently shoot with a Sigma Art 35mm f1.4 mounted to a Sony a7. Take a look at my life through my lens on Instagram.</p>
    </div>
  </div>
<% include partials/footer %>
