<% include partials/header %>
  <div class="container">
    <h2 class="pageTitle">About Me</h2>
  </div>
  <div class="container">
    <h2><img src="/uploads/portrait.png" alt="" class="aboutPic"></h2>
    <div class="aboutContent">
      <p>Hey, I'm Patrick</p>

      <p>I studied Geology and Computer Science at the University of Calgary, graduating with a Bachelor of Science. My main focus recently has been software development and full stack web development.</p>

      <p>Programming skills I've picked up along the way include the languages Java, C++, C, ARMv8 Assembly, Haskell, and Prolog. My web development has been focused on full stack development using MongoDB, Express, ReactJS, and NodeJS. A few of my projects include developing a website for Capture Photography Canada utilizing NodeJS, a non-relational database, and full user authentication. I have also developed the website KnoGeo.com for the newly rebranded company KnoGeo. The main emphasis of the website was to provide an immediate and unique experience which would entice the viewers; which is available through the 'Enterprise' tab of the website.</p>

      <p>Outside of my programmer life, I take on a variety of hobbies, such as basketball, photography and sneaker collecting. I currently shoot with a Sigma Art 35mm f1.4 mounted to a Sony a7. Take a look at my life through my lens on Instagram.</p>
    </div>
  </div>
<% include partials/footer %>
