<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Patrick Quan</title>
  <link rel="icon" type="image/png" href="/uploads/favicon.png">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
</head>
<body>
  <div class="landing">
    <div class="squareLogo">
      <p><img src="uploads/squareLogoWhite.png" alt="pq" class="landingSquareLogo"></p>
      <p><a href="/portfolio"><button type="button" name="enter" class="enterButton">ENTER</button></a></p>
    </div>
    <div class="landingIcons">
      <p>
        <a href="https://github.com/ptrckqn" target="_blank"><img src="uploads/githubWhite.svg" alt="github"></a>
        <a href="https://instagram.com/ptrckqn" target="_blank"><img src="uploads/instagramWhite.svg"  alt="instagram"></a>
        <a href="mailto:p.quan@me.com" target="_blank"><img src="uploads/mailWhite.svg" alt="email"></a>
      </p>
    </div>
  </div>

<% include partials/footer %>
