<% include ../partials/header %>
<div class="container">
  <h2 class="pageTitle">Web Development</h2>
</div>
<div class="splitView skewed">
  <div class="panel splitBottom">
    <div class="pContent">
      <div class="pTitle pDescription">
        <h5>Built using NodeJS, MongoDB, & Express</h5>
        <p><a href="https://github.com/ptrckqn/patrickQuanWebsite" target="_blank">View on Github</a></p>
      </div>
      <img src="/uploads/programming/pqBottom.png" alt="">
    </div>
  </div>

  <div class="panel splitTop">
    <div class="pContent">
      <div class="pTitle pDescription">
        <h5>Patrickquan.me</h5>
      </div>
      <img src="/uploads/programming/pqTop.png" alt="">
    </div>
  </div>
</div>

<div class="splitView skewed">
  <div class="panel splitBottom">
    <div class="pContent">
      <div class="pTitle pDescription">
        <h5>Built using NodeJS, MongoDB, & Express</h5>
        <p><a href="https://github.com/ptrckqn/capturePhotographyCanada" target="_blank">View on Github</a></p>
      </div>
      <img src="/uploads/programming/cpcBottom.png" alt="">
    </div>
  </div>

  <div class="panel splitTop">
    <div class="pContent">
      <div class="pTitle pDescription">
        <h5>Capture</h5>
        <h5>Photography</h5>
        <h5>Canada</h5>
        <p><a href="https://salty-fortress-88323.herokuapp.com" target="_blank">View website</a></p>
      </div>
      <img src="/uploads/programming/cpcTop.png" alt="">
    </div>
  </div>
</div>

<div class="splitView skewed">
  <div class="panel splitBottom">
    <div class="pContent">
      <div class="pTitle pDescription">
        <h5>Built using HTML5, CSS3, & Javascript</h5>
        <p><a href="https://github.com/ptrckqn/KnoGeo" target="_blank">View on Github</a></p>
      </div>
      <img src="/uploads/programming/knogeoBottom.png" alt="">
    </div>
  </div>

  <div class="panel splitTop">
    <div class="pContent">
      <div class="pTitle pDescription">
        <h5>KnoGeo</h5>
        <p><a href="http://knogeo.com" target="_blank">View website</a></p>
      </div>
      <img src="/uploads/programming/knogeoTop.png" alt="">
    </div>
  </div>
</div>

<div class="splitView skewed">
  <div class="panel splitBottom">
    <div class="pContent">
      <div class="pTitle pDescription">
        <h5>Built using HTML5, CSS3, & Javascript</h5>
        <p><a href="https://github.com/ptrckqn/cafe16Website" target="_blank">View on Github</a></p>
      </div>
      <img src="/uploads/programming/c16Bottom.png" alt="">
    </div>
  </div>

  <div class="panel splitTop">
    <div class="pContent">
      <div class="pTitle pDescription">
        <h5>Cafe 16</h5>
        <p><a href="http://cafe16yyc.com" target="_blank">View website</a></p>
      </div>
      <img src="/uploads/programming/c16Top.png" alt="">
    </div>
  </div>
</div>


<% include ../partials/footer %>
