<% include ../partials/header %>

<div class="container">
  <h2 class="pageTitle">Blog Management</h2>
</div>
<div class="container contactFormContainer">
  <p>Create a new blog post</p>
  <p>
    <form class="contactForm" action="/blog" method="post">
      <input type="text" name="title" placeholder="Title" required>
      <textarea name="body" placeholder="Body" rows="3" required></textarea>
      <div>
        <button type="submit" class="sendButton">POST</button>
      </div>
    </form>
  </p>
</div>

<% include ../partials/footer %>
