<% include ../partials/header %>

<a href="/portfolio/toronto">
<div class="content portfolioContent portfolioImage"  id="toronto">
  <div class="overlay"></div>
  <h3 class="portfolioName">Toronto</h3>
</div>

<a href="/portfolio/sneakers">
  <div class="content portfolioContent portfolioImage"  id="sneakers">
    <div class="overlay"></div>
    <h3 class="portfolioName">Sneakers</h3>
  </div>
</a>

<a href="/portfolio/spot&luna">
  <div class="content portfolioContent portfolioImage"  id="spotandluna">
    <div class="overlay"></div>
    <h3 class="portfolioName">Spot & Luna</h3>
  </div>
</a>

<a href="/portfolio/maui">
  <div class="content portfolioContent portfolioImage"  id="maui">
    <div class="overlay"></div>
    <h3 class="portfolioName">Maui</h3>
  </div>
</a>

<a href="/portfolio/newyork">
  <div class="content portfolioContent portfolioImage"  id="newyork">
    <div class="overlay"></div>
    <h3 class="portfolioName">New York</h3>
  </div>
</a>

<a href="/portfolio/losangeles">
  <div class="content portfolioContent portfolioImage"  id="losangeles">
    <div class="overlay"></div>
    <h3 class="portfolioName">Los Angeles</h3>
  </div>
</a>

<a href="/portfolio/cafe16">
  <div class="content portfolioContent portfolioImage"  id="cafe16">
    <div class="overlay"></div>
    <h3 class="portfolioName">Cafe 16</h3>
  </div>
</a>

<a href="/portfolio/alberta">
<div class="content portfolioContent portfolioImage"  id="alberta">
  <div class="overlay"></div>
  <h3 class="portfolioName">Alberta</h3>
</div>

<a href="/portfolio/villageicecream">
<div class="content portfolioContent portfolioImage"  id="villageicecream">
  <div class="overlay"></div>
  <h3 class="portfolioName">Village Ice Cream</h3>
</div>

<% include ../partials/footer %>
